<!DOCTYPE html>
<html>
<head>
  <title>MainanElgamal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><a href="/">MainanElgamal</a></h1>

<a href="https://github.com/ukazap/mainan_elgamal">source code</a> |
<a href="https://ukazap.github.io/2015/12/17/contoh-mainan-algoritma-elgamal-dalam-ruby/">penjelasan algo. elgamal</a>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<%= yield %>

</body>
</html>
